[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
apache-libcloud = "*"
pycrypto = "*"
requests = "*"

[dev-packages]
neovim = "*"
pycodestyle = "*"
nose = "*"

[requires]
python_version = "3.7"
